.sideBar
  
  .sideBar__sideHeader
    .sideBar__sideHeader__box
      %p.sideBar__sideHeader__box__userName 
        Tachi
      %ul.sideBar__sideHeader__box__icon
        %li.sideBar__sideHeader__box__icon__newGroup
          = link_to "#" do
            %i.far.fa-edit
        %li.sideBar__sideHeader__box__icon__editUser
          = link_to "#" do
            %i.fas.fa-cog

  .sideBar__groupList
    .sideBar__groupList__group
      %p.sideBar__groupList__group__groupName 
        グループ名
      %p.sideBar__groupList__group__latestMessage 
        最新のメッセージ

    .sideBar__groupList__group
      %p.sideBar__groupList__group__groupName 
        グループ名
      %p.sideBar__groupList__group__latestMessage 
        最新のメッセージ

    .sideBar__groupList__group
      %p.sideBar__groupList__group__groupName 
        グループ名
      %p.sideBar__groupList__group__latestMessage 
        最新のメッセージ